body {
	margin: 0;
	height: 100%;
}

.content {
	min-height: calc(100vh - 111px);
}

header {
	display: flex;
	justify-content: center;
	background-color: #f6f2f2;
}

.header {
	position: relative;
	background-color: #313030;
	margin-top: 29px;
	width: 65.05vw;
	height: 89px;
}

.header-list {
	margin-top: 0px;
	display: flex;
	list-style: none;
	justify-content: center;
	padding-left: 0px;
}

.header-list li {
	display: flex;
	width: 90px;
	height: 89px;
	margin-left: 10px;
    margin-right: 10px;
}

.header-list li:hover {
	background-color: #ff3f40;
}

.header-list a {
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	width: 90px;
	color: #e0e0e0;
	font-family: 'Open Sans';
	font-size: 14px;
	font-weight: 700;
}

.pp-li-1 {
    position: absolute;
    left: 18.18vw;
}

.pp-li-2 {
    position: absolute;
    left: 24.74vw;
}

.pp-li-3 {
    position: absolute;
    left: 31.30vw;
}

.pp-li-4 {
    position: absolute;
    left: 37.92vw;
}

.pp-a-1 {
	padding-top: 11px;
}

.pp-a-2 {
	padding-top: 9px;
}

.pp-a-3 {
	padding-top: 9px;
}

.pp-a-4 {
	padding-top: 9px;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.about-center {
	display: flex;
	justify-content: center;
	background-color: #f6f2f2;
	width: 100%;
	padding-bottom: 126px;
}

.about-container {	
	width: 65.05vw;
	padding-top: 92px;
    box-sizing: border-box;
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-text {
	display: inline-block;
	width: 588px;
}

.about-text h1 {
	font-size: 3.5em;
	text-transform: uppercase;
	margin-top: 0px;
	font-family: 'Open Sans';
	font-weight: 800;
	margin-bottom: 12px;
	line-height: 72px;
	letter-spacing: 0.44vw;
}

.about-text p {
	margin-top: 18px;
	font-size: 1.05em;
	color: #494848;
	font-family: 'Open Sans';
	line-height: 27px;
	width: 564px;
}

.contact-link {
	display: inline-flex;
	justify-content: center;
	width: 227px;
	height: 55px;
	background-color: #ff2d2d;
	margin-top: 40px; 
}

.contact-link a {
	font-size: 20px;
	text-decoration: none;
	color: #ffffff;
	display: flex;
	height: 55px;
	align-items: center;
	font-family: 'Open Sans';
	font-weight: 700;
}

.about-image {
	display: inline-flex;
	width: 551px;
	height: 356px;
}

.services-container {
	width: 65.05vw;
    display: flex;
    justify-content: space-between;
    margin-top: 99px;
}

.services-text {
	width: 509px;
}

.services-text h1 {
	font-family: 'Open Sans';
	font-weight: 700;
	font-size: 2.5em;
	letter-spacing: 1.7px;
	text-transform: uppercase;
    margin-top: 0px;
}

.services-text p {
	font-family: 'Open Sans';
	line-height: 27px;
	margin-top: 33px;
    width: 511px;
}

.learn-button {
	height: 54px;
	width: 227px;
	box-sizing: border-box;
	border-style: solid;
	border-color: #ff0000;
	border-width: 2px;
	margin-top: 58px;
	padding-left: 58px;
	padding-top: 11px;
    margin-top: 55px;
}

.learn-button a {
	font-family: 'Open Sans';
	font-weight: 700;
	font-size: 1.16em;
	color: #ff2d2d;
	text-decoration: none;
}

.services-blocks {
	width: 611px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.services-blocks h2 {
	font-family: 'Open Sans';
	font-weight: 600;
	margin-bottom: 9px;
    margin-top: 23px;
    margin-left: 4px;
}

.services-blocks p {
	font-family: 'Open Sans';
	line-height: 27px;
	margin-top: 0px;
	margin-left: 5px;
}

.services-blocks div:nth-child(odd) {
	width: 271px;
}

.services-blocks div:nth-child(even) {
	width: 290px;
}

.services-blocks div:nth-child(n+3) {
	margin-top: 11px;
}

.services-blocks div:nth-child(n+3) h2 {
	margin-top: 32px;
}

.products {
	width: 65.05vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 124px;
}

.products-text {
	display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 0px;
}

.products-text h1 {
	font-family: 'Open Sans';
	font-weight: 700;
	text-transform: uppercase;
	font-size: 2.7em;
    padding-left: 36px;
    margin-bottom: 0px;
}

.products-text p {
	width: 507px;
	font-family: 'Open Sans';
	text-align: center;
	line-height: 25px;
	padding-left: 36px;
}

.products-text img {
	padding-top: 13px;
    padding-left: 36px;
}

.products-menu {
	margin-top: 58px;
    padding-left: 47px;
}

.products-menu ul {
	width: 892px;
	list-style: none;
    padding-left: 0px;
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans';
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.4em;
}

.products-menu a {
	text-decoration: none;
	color: #4c4c4c
}

.products-menu a:hover {
	color: #ff3a3a;
}

.products-images {
	width: 65.05vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 17px;
}

.products-images div {
	width: 298px;
    height: 291px;
    margin-top: 19px;
    background-color: #f5f0dd;
}

.team {
	width: 65.05vw;
	margin-top: 100px;
}

.team-text h1 {
	font-family: 'Open Sans';
    font-weight: 700;
    font-size: 2.45em;
    letter-spacing: 2px;
    text-transform: uppercase;
	position: relative;
	right: 9px;
}

.team-text p {
	width: 447px;
	font-family: 'Open Sans';
	line-height: 27px;
    padding-left: 3px;
    margin-bottom: 19px;
}

.team-members {
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 64px;
}

.team-director {
	width: 321px;
    height: 458px;
    background-color: #f5f0dd;
}

.team-content {
	width: 849px;
	padding-right: 7px;
}

.director-text h2 {
	font-family: 'Open Sans';
	font-weight: 600;
	font-size: 1.8em;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 7px;
}

.director-text p {
	width: 632px;
	font-family: 'Open Sans';
	line-height: 26px;
}

.director-soc {
	width: 371px;
	font-family: 'Open Sans';
    font-style: italic;
    letter-spacing: 2px;
	list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 38px;
    padding-left: 2px;
}

.director-soc a {
	text-decoration: none;
    color: #5d5d5d;
}

.seniors {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 51px;
    padding-left: 3px;
}

.seniors-containers {
	width: 197px;
    height: 214px;
    background-color: #f5f0dd;
    margin-top: 10px;
    display: flex;
    align-items: flex-end;
}

.seniors-containers:first-child div {
	width: 100%;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(122, 120, 110, 0.9);
}

.seniors-containers h3 {
	margin-top: 0px;
    margin-bottom: 0px;
    color: #fbfbfa;
    font-family: 'open sans';
    text-transform: uppercase;
    font-size: 1.05em;
}

.subscribe-block {
	width: 82.14vw;
	height: 512px;
	box-sizing: border-box;
	background-color: #f5f0dd;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 113px;
    padding-top: 96px;
}

.subscribe-text {
	text-align: center;
}

.subscribe-text h1 {
	font-family: 'Open Sans';
	font-weight: 700;
	font-size: 2.77em;
	color: #fdfcf8;
    margin-bottom: 23px;
}

.subscribe-text p {
	font-family: 'Open Sans';
	color: #fdfcf8;
}

.subscribe-form {
	display: flex;
	justify-content: center;
	margin-top: 45px;
}

.subscribe-entry {
	width: 521px;
	height: 79px;
	background-color: #ffffff;
	font: unset;
	font-family: 'Open Sans';
	color: #707070;
	box-sizing: border-box;
    -webkit-appearance: unset;
    border-width: 0px;
    padding-left: 37px;
}

.subscribe-button {
	width: 214px;
	height: 79px;
	margin-left: 22px;
	background-color: #ff2d2d;
	display: flex;
	align-items: center;
	justify-content: center;
	font: unset;
	font-family: 'Open Sans';
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #ffffff;
	-webkit-appearance: unset;
    border-width: 0px;
    padding: 0px 0px;
}

.contact-block {
	width: 65.05vw;
	margin-top: 64px;
}

.contact-text h1 {
	font-family: 'Open Sans';
	font-weight: 700;
	font-size: 2.5em;
    letter-spacing: 1.6px;
	text-transform: uppercase;
}

.contact-text p {
	width: 722px;
	font-family: 'Open Sans';
    line-height: 27px;
    margin-top: 37px;
    padding-left: 3px;
    margin-bottom: 39px;
}

.contact-content {
	display: inline-flex;
	justify-content: space-between;
	margin-top: 71px;
}

.contact-form {
	width: 732px;
	height: 481px;
}

.contact-form-top {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.contact-form-top input {
	width: 339px;
	height: 69px;
	background-color: #e5e5e5;
	display: flex;
	align-items: center;
	font: unset;
	font-family: 'Open Sans';
	font-size: 1.1em;
	color: #555555;
	box-sizing: border-box;
    -webkit-appearance: unset;
    border-width: 0px;
}

.contact-form-top input:first-child {
    padding-left: 54px;
}

.contact-form-top input:last-child {
    padding-left: 48px;
}

.contact-form-bottom {
	margin-top: 47px;
}

.contact-form-bottom textarea {
	width: 100%;
	height: 249px;
	background-color: #e5e5e5;
	font: unset;
	font-family: 'Open Sans';
	color: #555555;
	box-sizing: border-box;
    -webkit-appearance: unset;
    border-width: 0px;
	padding: 29px 53px;
}

.contact-form-bottom button {
	width: 100%;
	height: 72px;
	background-color: #ff3b3b;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 38px;
	font-family: 'Open Sans';
	font-size: 1.1em;
    font-weight: 700;
    text-transform: uppercase;
	color: #ffffff;
	-webkit-appearance: unset;
    border-width: 0px;
    padding: 0px 0px;
}

.contact-info {
	width: 575px;
	height: 481px;
	position: relative;
	left: 106px;
	box-sizing: border-box;
	background-color: #2d2d2d;
	padding-left: 80px;
    padding-top: 123px;
}

.contact-info h2 {
	font-family: 'Open Sans';
	font-weight: 700;
	font-size: 1.17em;
	color: #ffffff;
	text-transform: uppercase;
}

.contact-info p {
	font-family: 'Open Sans';
	color: #d5d5d5;
	padding-left: 2px;
}

.contact-info p:nth-of-type(3n+1) {
	width: 296px;
    line-height: 27px;
    margin-top: 33px;
}

.contact-info p:nth-of-type(3) {
	margin-top: 27px;
}

footer {
	width: 82.14vw;
	margin-top: 10px;
	margin: auto;
	margin-top: 110px;
}

.footer-center {
	width: 82.14vw;
	height: 111px;
	background-color: #313030;
	position: relative;
}

.copy-text {
	color: #b8b8b8;
	font-family: 'Open Sans';
	padding-top: 52px;
	margin-left: 164px;
}

.soc-icons {
	position: absolute;
	top: 47px;
	right: 165px;
	width: 185px;
	height: 33px;
}

.linkedin {
	margin-left: 14px;
}

.google {
	margin-left: 13px;
}

.facebook {
	margin-left: 14px;
}

@media screen and (max-width: 1750px) {
	
	.about-text {
		width: 47%;
	}

	.about-text h1 {
		word-break: break-word;
    	letter-spacing: 0px;
	}

	.about-text p {
		width: 100%;
	}

	.about-image {
		width: 50%;
	}

	.about-image img {
		width: 100%;
		height: auto;
	}

	.services-text {
		width: 47%;
	}

	.services-text p {
		width: 100%;
	}

	.services-blocks {
		width: 50%;
	}

	.services-blocks div:nth-child(-n+4) {
		width: 100%;
		margin-top: 0px;
	}
	
	.team-text {
		display: flex;
    	flex-direction: column;
    	align-items: center;
	}

	.team-members {
		display: flex;
		flex-wrap: unset;
    	flex-direction: column;
    	align-items: center;
	}

	.director-text {
		display: flex;
    	flex-direction: column;
    	align-items: center;
    	margin-top: 35px;
    }

    .contact-form {
    	width: 41.23vw;
    }

    .contact-content {
		width: 100%;
    }

    .contact-form-top input {
    	width: 45%;
    }

    .contact-form-bottom {
    	width: 100%;
    }

    .contact-info {
    	width: 19.49vw;
    	position: unset;
    	display: flex;
    	flex-direction: column;
    	align-items: center;
    	justify-content: center;
    	padding-top: 0px;
    	padding-left: 0px;
    }

    .contact-info p:nth-of-type(3n+1) {
    	width: 80%;
    }

}

@media screen and (max-width: 1350px) {
	
	.header-list li {
		position: unset;
	}

	.pp-a-1 {
		padding-top: 9px;
	}

	.about-text {
		width: 80%;
	}

	.about-image {
		width: 100%;
		margin-top: 15px;
	}

	.footer-center {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	
	.copy-text {
		padding-top: 0px;
		margin-left: 165px;
	}
	
	.soc-icons {
		position: unset;
		margin-right: 165px;
	}
}

@media screen and (max-width: 1100px) {
	
	.header {
		width: 90vw;
	}

	.about-container {
		width: 90vw;
	}
	
	.services-container {
		width: 90vw;
	}
	
	.products {
		width: 90vw;
	}
	
	.products-text h1 {
		padding-left: 0px;
    	text-align: center;
	}

	.products-text p {
		width: 70%;
    	padding-left: 0px;
	}
	
	.products-menu {
		margin-top: 0px;
    	padding-left: 0px;
	}
	
	.products-menu ul {
		display: flex;
    	justify-content: space-around;
    	flex-wrap: wrap;
    	width: 100%;
	}
	
	.products-menu li {
		padding-left: 10px;
	}

	.products-images {
		justify-content: space-around;
	}
	
	.products-images div {
		width: 27.09vw;
    	height: 26.46vw;
	}

	.team {
		width: 90vw;
	}

	.team-content {
		width: 90%;
	}

	.team-text p {
		width: 90%;
	}

	.director-text p {
		width: 90%;
	}
	
	.seniors {
		justify-content: space-evenly;
	}

	.subscribe-block {
		width: 90vw;
	}

	.contact-block {
		width: 90vw;
	}
		
	.contact-content {
		justify-content: space-around;
	}
	
	.contact-form {
		width: 60%;
	}

	.contact-info {
		width: 30%;
	}

	.contact-text p {
		width: 100%;
	}

	.footer-center {
		justify-content: center;
		flex-direction: column-reverse;
	}
	
	.copy-text {
		margin-left: 0px;
	}
	
	.soc-icons {
		margin-right: 0px;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 850px) {

	.header-list {
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		height: 89px;
	}

	.header-list li {
		height: 0px;
	}

	.about-container {	
	    justify-content: center;
	    flex-direction: column;
	}

	.about-text {
		width: 100%;
	}

	.about-text h1 {
		word-wrap: break-word;
	}

	.about-text p {
		width: 100%;
	}

	.about-image {
		width: 64.82vw;
		height: 41.88vw;
	}

	.about-image img {
		width: 64.82vw;
		height: 41.88vw;
	}

	.services-container {
		flex-wrap: wrap;
    	justify-content: center;
	}

	.services-text {
		width: 100%;
	}

	.services-blocks {
		margin-top: 15px;
		width: 100%;
	}

	.services-blocks div:nth-child(-n+4) {
		width: 50%;
    	margin-top: 0px;
	}

	.director-soc {
		width: 110%;
	}

	.subscribe-block {
		height: auto;
    	padding-bottom: 10px;
	}

	.subscribe-entry {
		width: 54.84vw;
	}

	.subscribe-button {
		width: 22.53vw;
	}

	.contact-content {
		flex-wrap: wrap;
    	justify-content: center;
	}
	
	.contact-form {
		width: 100%;
	}

	.contact-info {
		width: 80%;
    	margin-top: 15px;
	}
}

@media screen and (max-width: 550px) {
	.seniors-containers {
		width: 35.82vw;
    	height: 43.82vw;
	}

	.subscribe-button {
		font-size: 75%;
	}
}